.head{
    background:#ff6a00;
}
.background {
    background-image: url('../Images/loginbackground.jpg');
    height: 700px;
}
    .bottom{
    height: 80px;
    background-color: #38c859;
    color: #ffffff;
}

.btto {
    background-color: #ff6a00;
}

      


   
